<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-md">
		<h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t "devise.invitations.new.header" %></h2>
	</div>
	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
		<div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
			<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>
				<% resource.class.invite_key_fields.each do |field| -%>
					<div class="field">
						<%= f.label field, class: "block text-sm font-medium leading-6 text-gray-900" %>
						<div class="mt-2">
							<%= f.text_field field, autofocus: true, autocomplete: "email", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
						</div>
					</div>
					<% resource.build_flexi_user do %>
						<%= f.fields_for :owner_information_attributes do |f| %>
							<div class="field">
								<%= f.label :unit_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
								<div class="mt-2">
									<%= f.collection_select :unit_id, Unit.all.all, :id, :name, {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end -%>
				<div class="actions">
					<%= f.submit t("devise.invitations.new.submit_button"), class: "mt-2 flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
				</div>
			<% end %>
		</div>
	</div>
