<div class="max-w-4xl p-0 md:px-4 md:py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="bg-white md:rounded-xl shadow dark:bg-neutral-900">
    <div class="relative h-36 md:h-60 rounded-none md:rounded-t-xl bg-[url('https://preline.co/assets/svg/examples/abstract-bg-1.svg')] bg-no-repeat bg-cover bg-center">
    </div>
    <div class="px-6 py-12 md:p-12 bg-white md:rounded-b-xl ">
      <div class="mb-6">
        <h1 class="text-3xl font-bold leading-6 mb-4">Sign Up</h1>
        <p>Please fill in your personal details to register.</p>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "admin_users/shared/error_messages", resource: resource %>

        <div class="mb-4">
          <%= f.label :email, class: "inline-block text-lg font-medium text-gray-800 mb-2 dark:text-neutral-200"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "py-3 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm rounded-lg text-base focus:outline-none focus:border-blue-700 focus:ring-1 focus:ring-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 bg-gray-100", placeholder: "company@email.com" %>
        </div>

        <div class="mb-4">
          <%= f.label :password, class: "inline-block text-lg font-medium text-gray-800 mb-2 dark:text-neutral-200" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "py-3 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm rounded-lg text-base focus:outline-none focus:border-blue-700 focus:ring-1 focus:ring-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 bg-gray-100" %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: "inline-block text-lg font-medium text-gray-800 mb-2 dark:text-neutral-200"  %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "py-3 px-3 pe-11 block w-full border-2 border-gray-200 shadow-sm rounded-lg text-base focus:outline-none focus:border-blue-700 focus:ring-1 focus:ring-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 bg-gray-100", placeholder: "" %>
        </div>

        <div class="mb-4">
          <%= f.submit "Sign up", class: "w-full py-3 px-4 items-center gap-x-2 text-base text-center font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"  %>
        </div>
        <div class="text-gray-500 text-center font-semibold text-base">
          <span>Already have an Account? <span>
          <%= render "admin_users/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>







