<div>
  <%= form_with(model: @unit_owner, url: unit_owner_unit_invitations_path(unit_id: @unit.id), method: :post, data: { turbo_frame: '_top'}) do |form| %>
    <%= form.hidden_field :unit_id, value: @unit.id %>
    <div>
      <%= form.label :email, class: "block text-sm font-medium mb-2 " %>
      <%= form.text_field :email, class: "py-3 px-4 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none border-gray-700 dark:focus:ring-gray-600" %>
    </div>

    <div class="mt-4">
      <%= link_to "Cancel", floor_unit_path(floor_id: @floor.id, id: @unit.id ), data: { turbo_frame: "_top" }, class: "py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"%>
      <%= form.submit class: "py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
    </div>
  <% end %>
</div>