<tr id="<%= apartment %>">
  <td class="h-px w-px whitespace-nowrap">
    <div class="ps-6 py-3">
      <label for="hs-at-with-checkboxes-1" class="flex">
        <input type="checkbox" class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="hs-at-with-checkboxes-1">
        <span class="sr-only">Checkbox</span>
      </label>
    </div>
  </td>

  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-3">
      <span class="text-sm text-gray-600 dark:text-gray-400"><%= apartment.name %></span>
    </div>
  </td>

    <td class="h-px w-px whitespace-nowrap">
        <div class="px-6 py-3">
            <span class="text-sm text-gray-600 dark:text-gray-400"><%= apartment.location %></span>
        </div>
    </td>

  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-3">
      <div class="flex items-center gap-x-2">
        <img class="inline-block h-6 w-6 rounded-full" src="https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80" alt="Image Description">
        <div class="grow">
          <span class="text-sm text-gray-600 dark:text-gray-400">Christina Bersh</span>
        </div>
      </div>
    </div>
  </td>

  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-3">
      <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full dark:bg-teal-500/10 dark:text-teal-500">
        <svg class="w-2.5 h-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        Successful
      </span>
    </div>
  </td>

  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-3">
      <span class="text-sm text-gray-600 dark:text-gray-400"><%= apartment.floors.count %></span>
    </div>
  </td>

  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-1.5">
      <div class="hs-dropdown relative inline-block [--placement:bottom-right]">
        <button id="hs-table-dropdown-1" type="button" class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
          <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
        </button>
        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-[10rem] z-10 bg-white shadow-2xl rounded-lg p-2 mt-2 dark:divide-gray-700 dark:bg-gray-800 dark:border dark:border-gray-700" aria-labelledby="hs-table-dropdown-1">
          <div class="py-2 first:pt-0 last:pb-0">
            <%= link_to apartment_path(apartment), class: "flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" do %>
                Show
            <% end %>
            <%= link_to edit_apartment_path(apartment), data: { turbo_frame: "modal"}, class: "flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" do %>
                Edit
            <% end %>
          </div>
          <div class="py-2 first:pt-0 last:pb-0">
            <%= link_to apartment_path(apartment), data: { turbo_frame: "_top", "turbo_method": :delete, turbo_confirm: "Are you sure?" }, class: "flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-red-500 dark:hover:bg-gray-700" do %>
                Delete
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
