<!DOCTYPE html>
<html>
  <head>
    <title>RentZen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-cache-control" content="no-cache">
  </head>

  <body>
    <div class='p-4 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700'>
      <%= render "layouts/admin/top_nav" %>
    </div>
    <div class='main-content md:grid md:grid-cols-12 gap-0'>
      <div class='md:block md:col-span-2 min-h-full'>
        <%= render "layouts/admin/navigation" %>
      </div>
      <div class="bg-gray-50 dark:bg-gray-900 md:col-span-10 min-h-full">
        <% if notice || alert %>
          <%= render "shared/alerts/flash", locals: { alert: alert, notice: notice}  %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
