<!DOCTYPE html>
<html>
  <head>
    <title>RentZen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= combobox_style_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
     <script src="./node_modules/preline/dist/preline.js"></script>
  </body>
</html>
